{% load static %}
<nav class="navbar navbar-light bg-white navbar-expand-lg text-uppercase fixed-top navbar-shrink shadow-lg" id="navbar">
  <div class="container">
    <a class="navbar-brand" href="#inicio">
      <img src="{% static 'img/logo2.png' %}" class="w-20 vh-20" alt="No image">
    </a>
    <button class="navbar-toggler text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navigationList" class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link active py-3 px-0 px-lg-3 rounded" href="#inicio">Inicio</a>
        </li>
        <li class="nav-item dropdown mx-0 mx-lg-1">
          <a class="nav-link dropdown-toggle py-3 px-0 px-lg-3 rounded" href="#nosotros" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Nosotros</a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item text-capitalize" href="#nosotros">¿Quiénes Somos?</a></li>
            <li><a class="dropdown-item text-capitalize" href="#nosotros">Mision</a></li>
            <li><a class="dropdown-item text-capitalize" href="#nosotros">Visión</a></li>
            <li><a class="dropdown-item text-capitalize" href="#nosotros">Política</a></li>
          </ul>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#servicios">Servicios</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#machineshop">Productos</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#noticias">Noticias</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contacto">Contácto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>