{% load static %}
<section id="casingsolutions" class="my-5">

    <div class="row my-5">
      <div class="col col-12">
          <p class="fs-1">Casing solutions</p>
          <hr>
      </div>
    </div>

    <div class="container">          
        <div class="left-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img class="img-fluid " src="{% static 'img/casingsolutions/zapato1.jpg' %}"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Equipo de flotación</h4></br>
                <ul>
                  <li>Zapatas rimadoras con nariz excéntrica.</br></li>
                  <li>Coples de auto llenados de alto flujo.</br></li>
                  <li>Tapones para colgadores & TR.</br></li>
                  <li>Centralizdores rígidos y fexibles.</br></li>
                  <li>Aplicaciones especiales para control de surgencia y swabeo.</br></li>                 
                </ul>
                
              </div>
            </div>
          </div>
        </div>
           
        <div class="right-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Empaques Hinchables</h4>
               
                <h4>Tipo de Empaques:</h4></br>
                <ul>  
                  <li> HP - Bonded (Altas presiones) </li>
                  <li>Lite - Slip-on (Bajas presiones) </li>
                  <li>Aplicaciones especiales (Mallas, expandibles, mandriles de clientes)</li>
                </ul>                
                  <h4>Rangos de Temperaturas.</h4></br>
                  <ul>
                  <li>Hinchado a agua (Water Swell) - 4°C (39°F) to 163°C (325°F)</li>
                  <li>Hinchado al aceite (Oil Swell) - 30°C (86°F) to 200°C (392°F)</li>
                  <li>Hinchado con los dos fluidos (Hybrid Swell) - 30°C (86°F) to 149°C (300°F)</li>
                  <li>Aplicaciones Especiales</li>               
                </ul>
             
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img class="img-fluid " style="margin-top: 100px;" src="{% static 'img/casingsolutions/inchable1.jpg' %}"/>
              </div>
            </div>
          </div>
        </div>

          <div class="right-image-post">
            <div class="row">
             
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img class="img-fluid " src="{% static 'img/casingsolutions/dshoe1.jpg' %}"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>SMART BIT REAMER SHOE</h4>
                     <p>
                      Los parámetros operativos estándar para este Drill-Shoe se establecen en las especificaciones del material en lugar de depender del diseño de la zapata, por lo que son comunes en todos los tamaños:

                      Especificaciones de la Zapata Drill-Shoe:
                      Material: Bronze SAE 660
                      Minimum Yield Strength – 20 300 psi (140 MPa) 
                      Minimum Tensile Strength – 34 800 psi (240 MPa) 
                      Minimum Elongation – 10% 
                      Modulus of Elasticity – 14 500 ksi (100 GPa)
                       
                      1) Maximo peso permisible en la zapata (WOB) – 70 000 lbs
                      2) Maximo torque permissible de trabajo – 28 000 lbf-ft (at Drill-Shoe)

                     </p>          
                </div>
              </div>
            </div>
          </div>
  </div>  
</section>