{% load static %}
<section id="casingsolutions" class="my-5">

    <div class="row my-5">
      <div class="col col-12">
          <p class="fs-1">Casing solutions</p>
          <hr>
      </div>
    </div>

    <div class="container">          
        <div class="left-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img class="img-fluid " src="{% static 'img/casingsolutions/zapata1.png' %}"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Zapatas</h4>
                <p>
                  Zapatas para TR auto-alineables.</br>
                  zapatas rimadoras con nariz excéntrica.</br>
                  Coples flotadores auto llenados, de Válvula poppet.</br>
                  Tapones para colgadores & TR.</br>
                  Centralizdores rígidos y de flejes.</br>
                  Aplicaciones especiales para control de surgencia y swabeo.</br>
              </p>
                
              </div>
            </div>
          </div>
        </div>
           
        <div class="right-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-text">
                <h4>Empaques Hinchables</h4>
                <p>
                    Expansión para lodos en base agua o aceite, capacidad para soportar más de 15Kpsi, compatible en ambientes ácidos salados y con presencia de H2S 0 CO2.</br>
                    Con una tasa de éxito del 100% en más de 24.000 instalaciones en todo el mundo, incluidas aplicaciones de alta precisión, los empacadores de aislamiento hinchable tienen un pedigrí probado en el campo. HP se ha probado rigurosamente en una multitud de fluidos a base de hidrocarburos y agua, así como un amplio rango de temperaturas para confirmar la velocidad de hinchamiento, la capacidad de presión diferencial máxima y el volumen de hinchamiento final.
                </p>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-image">
                <img class="img-fluid " src="{% static 'img/casingsolutions/inchable1.jpg' %}"/>
              </div>
            </div>
          </div>
        </div>

        <div class="left-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="left-image">
                <img class="img-fluid " src="{% static 'img/casingsolutions/filldrill.png' %}"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right-text">
                <h4>Fill Drill</h4>
                <p>
                FILL DRILL diseñado para proporcionar rotación al final de la sarta de revestimiento al mover el 
                revestimiento de forma recíproca. En lugar de girar la tubería en la superficie, evitando los 
                torques reactivos. Usando presión hidráulica proporcionada por la bomba de lodo, o en algunos 
                casos a traes de la fuerza mecánica, el conjunto inferior de la herramienta gira alrededor del
                mandril helicoidal, extendiéndose a una posición “abierta”.  Al colocar el peso en la herramienta,
                el conjunto inferior sube por el mandril provocando la rotación a la derecha en el conjunto inferior.
                Al recoger la sarta de revestimiento, la fuerza hidráulica o mecánica induce la rotación a la izquierda en el conjunto inferior. Rotando en ambas direcciones, la herramienta tiene un par de torsión eficazmente neutro, lo que no provoca traslación torsional hacia arriba de la sarta de revestimiento.

                </p>                  
              </div>
            </div>
          </div>
        </div>

        <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>AUTO SET</h4>
                  <p>
                      
                    El AUTO SET fue desarrollado para ayudar en la corrida de revestimientos y liners en 
                    aplicaciones donde la presión hidráulica no se puede inducir a la broca, o donde la 
                    circulación a través del revestimiento es imposible. Mediante el uso de un resorte de 
                    alta resistencia, la herramienta se establece a la posición abierta reduciendo el peso en la broca, 
                    en lugar de la presión hidráulica. Esta herramienta se ha utilizado en aplicaciones de SAGD, 
                    liners ranurados y zonas con pérdida de circulación para obtener excelentes resultados y 
                    se puede utilizar en cualquier tamaño o aplicación que no requiera drillout. La auto set 
                    también es perfecta para terminaciones de empacadoras de una o varias etapas, ya que brindan 
                    soluciones de fondo de pozo sin depender de la presión hidráulica interna. La herramienta también
                     esta sellada para evitar la producción de arena, cortes y parafinas a través de la herramienta 
                     tanto durante  la corrida del revestimiento o liner, como durante la producción.

                  </p>
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img class="img-fluid " src="{% static 'img/casingsolutions/petroleo1.png' %}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img class="img-fluid " src="{% static 'img/casingsolutions/stubby.png' %}"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>STUBBY</h4>
                  <p>
                    Después del éxito y la Adopción temprana de la herramienta Fill Drill Casing tool, 
                    surgió la demanda de una versión perforable PDC para revestimientos de superficie e intermedios. 
                    Poco después, nació el “Stubby”, los componentes internos están hechos de aluminio de grado industrial.
                  </p>                  
                </div>
              </div>
            </div>
          </div>

          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>LEDGE MASTER</h4>
                  <p>
                    El Ledgemaster  fue diseñado como una aplicación específica: lidiar con obstrucciones externas y doglegs en pozos donde las limitaciones de AFE requieren soluciones rentables. Totalmente perforable en PDC, la serie Ledgemaster utiliza una carrera de 1 pie para proporcionar ¾ de vuelta,
                    Suficiente para orientar una broca excéntrica y encontrar el agujero abierto. El Ledgemaster puede estar equipado con una broca excéntrica más agresiva en caso de que sea necesario llenar o escariar. No hay mejor ni más rentable zapata excéntrica perforable auto lineable PDC en el mercado actual.
                    
                </p>
                  
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img class="img-fluid " src="{% static 'img/casingsolutions/ledge.png' %}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img class="img-fluid " src="{% static 'img/machineshop/smart.png' %}"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>SMART BIT REAMER SHOE</h4>
                  <p>
                    En los casos en los que el cliente elige rotar su sarta de revestimiento 
                    como parte de sus procesos operativos, la broca inteligente se puede utilizar
                     en lugar de una zapata de revestimiento estándar. Disponible en cualquiera de 
                     los perfiles de la broca de revestimiento, Smart bit permite al cliente seleccionar 
                     el perfil que se adapte a las condiciones esperadas de fondo al pozo. Completamente 
                     perforable, la broca inteligente está diseñada para incorporar un conjunto de flotador 
                     interno en el DI de la broca para operaciones de cementación. El conjunto del flotador 
                     esta hecho de aleación de aluminio industrial y el embolo está cubierto de polímero 
                     térmico para resistir la abrasión y los problemas de calor, al tiempo que se proporciona 
                     un sellado excepcional y una construcción resistente. En comparación con muchas zapatas de
                      revestimiento de escariado en el mercado, Smart bit es económico duradero y especializado 
                      para asegurar la mejor oportunidad de aterrizar  con éxito  la sarta de revestimiento en TD.
                  </p>                  
                </div>
              </div>
            </div>
          </div>
  </div>  
</section>