{% load static %}
<section id="machineshop" class="my-5">

    <div class="row my-5">
      <div class="col col-12">
          <p class="fs-1">Machine Shop Solutions</p>
          <hr>
      </div>
    </div>

    <div class="container">          
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img class="img-fluid " src="{% static 'img/machineshop/w513.png' %}"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <div class="service-item">
                    <h4>Mecanizados</h4>
                  <p>
                    Mecanizados de conexiones premium HYDRIL 513,623, 625, etc.</br>
                    Mecanizados de conexiones premium XT, HT, HUNTING SPECIAL etc.</br>
                    Manufactura de Tubulares en aceros P110, Q125, V140, etc.</br>
                    Manufactua de piezas especiales.
                </p>
                  </div>                 
                </div>
              </div>
            </div>
          </div>
             
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <div class="service-item">
                    <h4>Conexiones</h4>
                  <p>
                    Crossovers con conexiones premium para TR Y TP, Pup joins con conexiones premium & API, maquinado por impresión, Stab in guides, test plugs.</br>
                  </p>
                  </div>                
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img class="img-fluid " src="{% static 'img/machineshop/casing.jpg' %}"/>
                </div>
              </div>
            </div>
          </div>

          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img class="img-fluid " src="{% static 'img/machineshop/certificacion.jpg' %}"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <div class="service-item">
                    <h4>Fabricación bajo cetificaciónes:</h4>
                  <p class="parrafo">
                    API 5CT.</br>
                    API 7-1.</br>
                    TenarisHydrill.</br>
                    ULTRA.</br>
                    GB Connections.</br>
                    Metal one.</br>
                    Houston international specialty (HIS).
                  </p>   

                  </div>
                                 
                </div>
              </div>
            </div>
          </div>
    </div>       
</section>