html.scroll-behavior-auto {
    scroll-behavior: auto !important;
}

.ms-auto {
    margin-left: auto !important;
}

.navbar-brand-border-top {
    border-top: 4px solid #00d1b2 !important
}

.nav-tabs:not(.nav-tabs-neutral)>.nav-item>.nav-link.active {
    box-shadow: 0px 5px 35px 0px rgb(0 0 0 / 30%)
}

.z-index-max {
    z-index: 2000;
}

@media (min-width: 992px) {
    .navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        transition: all ease-in .3s;
    }
}

#navigationList > li > a.active, 
#navigationList > li > a:hover {
    color: #00d1b2 !important;
    font-weight: 400;
    border-bottom: 2px solid #00d1b2;
    transition: color ease .5s;
}